doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap.css')
  body
    block content
    script(src="/vendor/jquery-3.0.0.js")
    script(src="/vendor/jquery-ui.js")
    script(src="/vendor/angular.js")
    script(src="/javascripts/sort_app/sort_controller.js")
    script(src="/javascripts/sort_app/sort_directive.js")
    script(src="/javascripts/sort_app/sort_service.js")
